{% extends "base.html" %}

{% block content %}

{% if not get_flashed_messages() %}
<div class="center Forms">
{% else %}
<div class="center FormsError">
{% endif %}
    <h1> Book Time </h1>
        <p>Meetings:</p>
        {% for i in range %}
            {% if i != -1.0 %}
                {% if i > 12.75 %}
                    {% if (i == ((i)|int)|float) and (i+theInterval == ((i+theInterval)|int)|float)%}
                        <a href = "/bookdetails/{{user}}/{{day}}-{{month}}-{{year}}/{{ (i - 12)|int }}:{{ ((i - 12 - (i - 12)|int ) * 60)|int }}0-{{ (i + theInterval - 12)|int }}:{{ ((i + theInterval - 12 - (i + theInterval - 12)|int ) * 60)|int }}0/{{i}}">From {{ (i - 12)|int }}:{{ ((i - 12 - (i - 12)|int ) * 60)|int }}0 to {{ (i + theInterval - 12)|int }}:{{ ((i + theInterval - 12 - (i + theInterval - 12)|int ) * 60)|int }}0</a>
                    {% elif (i == ((i)|int)|float) and (i+theInterval != ((i+theInterval)|int)|float) %}
                        <a href = "/bookdetails/{{user}}/{{day}}-{{month}}-{{year}}/{{ (i - 12)|int }}:{{ ((i - 12 - (i - 12)|int ) * 60)|int }}0-{{ (i + theInterval - 12)|int }}:{{ ((i + theInterval - 12 - (i + theInterval - 12)|int ) * 60)|int }}/{{i}}">From {{ (i - 12)|int }}:{{ ((i - 12 - (i - 12)|int ) * 60)|int }}0 to {{ (i + theInterval - 12)|int }}:{{ ((i + theInterval - 12 - (i + theInterval - 12)|int ) * 60)|int }}</a>
                    {% elif (i != ((i)|int)|float) and (i+theInterval == ((i+theInterval)|int)|float) %}
                        <a href = "/bookdetails/{{user}}/{{day}}-{{month}}-{{year}}/{{ (i - 12)|int }}:{{ ((i - 12 - (i - 12)|int ) * 60)|int }}-{{ (i + theInterval - 12)|int }}:{{ ((i + theInterval - 12 - (i + theInterval - 12)|int ) * 60)|int }}0/{{i}}">From {{ (i - 12)|int }}:{{ ((i - 12 - (i - 12)|int ) * 60)|int }} to {{ (i + theInterval - 12)|int }}:{{ ((i + theInterval - 12 - (i + theInterval - 12)|int ) * 60)|int }}0</a>
                    {% else %}
                        <a href = "/bookdetails/{{user}}/{{day}}-{{month}}-{{year}}/{{ (i - 12)|int }}:{{ ((i - 12 - (i - 12)|int ) * 60)|int }}-{{ (i + theInterval - 12)|int }}:{{ ((i + theInterval - 12 - (i + theInterval - 12)|int ) * 60)|int }}/{{i}}">From {{ (i - 12)|int }}:{{ ((i - 12 - (i - 12)|int ) * 60)|int }} to {{ (i + theInterval - 12)|int }}:{{ ((i + theInterval - 12 - (i + theInterval - 12)|int ) * 60)|int }}</a>
                    {% endif %}
                    <br>
                {% elif (12.75 > i) and (i+theInterval > 12.75) %}
                    {% if (i == ((i)|int)|float) and (i+theInterval == ((i+theInterval)|int)|float)%}
                        <a href = "/bookdetails/{{user}}/{{day}}-{{month}}-{{year}}/{{ i|int }}:{{ ((i - i|int ) * 60)|int }}0-{{ (i + theInterval - 12)|int }}:{{ ((i + theInterval - 12 - (i + theInterval - 12)|int ) * 60)|int }}0/{{i}}">From {{ i|int }}:{{ ((i - i|int ) * 60)|int }}0 to {{ (i + theInterval - 12)|int }}:{{ ((i + theInterval - 12 - (i + theInterval - 12)|int ) * 60)|int }}0</a>
                    {% elif (i == ((i)|int)|float) and (i+theInterval != ((i+theInterval)|int)|float)%}
                        <a href = "/bookdetails/{{user}}/{{day}}-{{month}}-{{year}}/{{ i|int }}:{{ ((i - i|int ) * 60)|int }}0-{{ (i + theInterval - 12)|int }}:{{ ((i + theInterval - 12 - (i + theInterval - 12)|int ) * 60)|int }}/{{i}}">From {{ i|int }}:{{ ((i - i|int ) * 60)|int }}0 to {{ (i + theInterval - 12)|int }}:{{ ((i + theInterval - 12 - (i + theInterval - 12)|int ) * 60)|int }}</a>
                    {% elif (i != ((i)|int)|float) and (i+theInterval == ((i+theInterval)|int)|float) %}
                        <a href = "/bookdetails/{{user}}/{{day}}-{{month}}-{{year}}/{{ i|int }}:{{ ((i - i|int ) * 60)|int }}-{{ (i + theInterval - 12)|int }}:{{ ((i + theInterval - 12 - (i + theInterval - 12)|int ) * 60)|int }}0/{{i}}">From {{ i|int }}:{{ ((i - i|int ) * 60)|int }} to {{ (i + theInterval - 12)|int }}:{{ ((i + theInterval - 12 - (i + theInterval - 12)|int ) * 60)|int }}0</a>
                    {% else %}
                        <a href = "/bookdetails/{{user}}/{{day}}-{{month}}-{{year}}/{{ i|int }}:{{ ((i - i|int ) * 60)|int }}-{{ (i + theInterval - 12)|int }}:{{ ((i + theInterval - 12 - (i + theInterval - 12)|int ) * 60)|int }}/{{i}}">From {{ i|int }}:{{ ((i - i|int ) * 60)|int }} to {{ (i + theInterval - 12)|int }}:{{ ((i + theInterval - 12 - (i + theInterval - 12)|int ) * 60)|int }}</a>
                    {% endif %}
                    <br>
                {% else %}
                    {% if (i == ((i)|int)|float) and (i+theInterval == ((i+theInterval)|int)|float)%}
                        <a href = "/bookdetails/{{user}}/{{day}}-{{month}}-{{year}}/{{ i|int }}:{{ ((i - i|int ) * 60)|int }}0-{{ (i + theInterval)|int }}:{{ ((i + theInterval - (i + theInterval)|int ) * 60)|int }}0/{{i}}">From {{ i|int }}:{{ ((i - i|int ) * 60)|int }}0 to {{ (i + theInterval)|int }}:{{ ((i + theInterval - (i + theInterval)|int ) * 60)|int }}0</a>
                    {% elif (i == ((i)|int)|float) and (i+theInterval != ((i+theInterval)|int)|float)%}
                        <a href = "/bookdetails/{{user}}/{{day}}-{{month}}-{{year}}/{{ i|int }}:{{ ((i - i|int ) * 60)|int }}0-{{ (i + theInterval)|int }}:{{ ((i + theInterval - (i + theInterval)|int ) * 60)|int }}/{{i}}">From {{ i|int }}:{{ ((i - i|int ) * 60)|int }}0 to {{ (i + theInterval)|int }}:{{ ((i + theInterval - (i + theInterval)|int ) * 60)|int }}</a>
                    {% elif (i != ((i)|int)|float) and (i+theInterval == ((i+theInterval)|int)|float) %}
                        <a href = "/bookdetails/{{user}}/{{day}}-{{month}}-{{year}}/{{ i|int }}:{{ ((i - i|int ) * 60)|int }}-{{ (i + theInterval)|int }}:{{ ((i + theInterval - (i + theInterval)|int ) * 60)|int }}0/{{i}}">From {{ i|int }}:{{ ((i - i|int ) * 60)|int }} to {{ (i + theInterval)|int }}:{{ ((i + theInterval - (i + theInterval)|int ) * 60)|int }}0</a>
                    {% else %}
                        <a href = "/bookdetails/{{user}}/{{day}}-{{month}}-{{year}}/{{ i|int }}:{{ ((i - i|int ) * 60)|int }}-{{ (i + theInterval)|int }}:{{ ((i + theInterval - (i + theInterval)|int ) * 60)|int }}/{{i}}">From {{ i|int }}:{{ ((i - i|int ) * 60)|int }} to {{ (i + theInterval)|int }}:{{ ((i + theInterval - (i + theInterval)|int ) * 60)|int }}</a>
                    {% endif %}
                    <br>
                {% endif %}
            {% endif %}
        {% endfor %}

	</form>
</div>

{% endblock %}