{% extends "base.html" %}

{% block content %}

{% if not get_flashed_messages() %}
<div class="center Forms">
{% else %}
<div class="center FormsError">
{% endif %}
    <h1> Book Time </h1>
        <p>Meetings:</p>
        {% for i in range %}
            {% if i > 12.75 %}
                <a href = "/bookdetails/{{user}}/{{day}}-{{month}}-{{year}}/{{ (i - 12)|int }}:{{ ((i - 12 - (i - 12)|int ) * 60)|int }}-{{ (i + theInterval - 12)|int }}:{{ ((i + theInterval - 12 - (i + theInterval - 12)|int ) * 60)|int }}">From {{ (i - 12)|int }}:{{ ((i - 12 - (i - 12)|int ) * 60)|int }} to {{ (i + theInterval - 12)|int }}:{{ ((i + theInterval - 12 - (i + theInterval - 12)|int ) * 60)|int }}</a>
                <br>
            {% else %}
                <a href = "/bookdetails/{{user}}/{{day}}-{{month}}-{{year}}/{{ i|int }}:{{ ((i - i|int ) * 60)|int }}-{{ (i + theInterval)|int }}:{{ ((i + theInterval - (i + theInterval)|int ) * 60)|int }}">From {{ i|int }}:{{ ((i - i|int ) * 60)|int }} to {{ (i + theInterval)|int }}:{{ ((i + theInterval - (i + theInterval)|int ) * 60)|int }}</a>
                <br>
            {% endif %}
        {% endfor %}

	</form>
</div>

{% endblock %}