{% extends "base.html" %}

{% block content %}

{% if not get_flashed_messages() %}
<div class="center Forms">
{% else %}
<div class="center FormsError">
{% endif %}
    <h1> Booking Details </h1>
    <h2> Meeting with {{user}} on {{date}} for {{time}}</h2>
    <form action = "" method = "post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.guestname.label }}
            {{ form.guestname(size=32) }}
        </p>
        <p>
            {{ form.description.label }}
            {{ form.description(size=32) }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
	</form>
</div>

{% endblock %}