{% extends "base.html" %}

{% block content %}

{% if not get_flashed_messages() %}
<div class="center Forms">
{% else %}
<div class="center FormsError">
{% endif %}
    <h1> Book Time </h1>
        <p>Meetings:</p>
        {% for i in range({{ rangeStart }}, {{ rangeEnd }} + 1, {{ theInterval }}) %}
            {% if {{ i }} > 12.75 %}
                <p>From {{ i - 12 }} to {{ i + theInterval }}</p>
            {% else %}
                <p>From {{ i }} to {{ i + theInterval }}</p>
            {% endif %}
        {% endfor %}
	</form>
</div>

{% endblock %}