{% extends "base.html" %}
 
{% block jumbotron %}

<div class="jumbotron">
  <h1 class="display-4">Schedule Master</h1>
  <p class="lead"> Your favorite digital calendar </p>
  <p>Guests click 
  	<button type="button" class="btn btn-danger"><a href = "/users">here</a></button>
   to schedule book an appointment.</p>
  <hr class="my-4">
  <p>Register now to be able to host events with people all around the world!</p>
  <a class="btn btn-info btn-md" href="/register" role="button">Register</a>
</div>

{% endblock %}