{% extends "base.html" %}
 
{% block jumbotron %}

<div class="jumbotron">
  <h1 class="display-4">Schedule Master</h1>
  <p class="lead"> Your favorite digital calendar </p>
  <hr class="my-4">
  <p>Register now to be able to host events with people all around the world!</p>
  <a class="btn btn-info btn-md" href="/register" role="button">Register</a>
</div>


<section>
  <div class="container">
    <div class="row">
      <div class="col center-block">
        <div class="card" style="width: 30rem;">
          <img src="{{url_for('static', filename='img/guest.png')}}"  class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"> As a Guest</h5>
            <p class="card-text">You can book times with created accounts!</p>
            <a href="/users" class="btn btn-info btn-md"> Book times</a>
          </div>
        </div>
      </div>
      <div class="col center-block">
        <div class="card" style="width: 30rem;">
          <img src="{{url_for('static', filename='img/creator.png')}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">As a Creator</h5>
            <p class="card-text">You can set availibilty and view events!</p>
            <a href="/register" class="btn btn-info btn-md">Create account</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Testimonials v.3 -->
<section class="team-section text-center my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">Testimonials </h2>
  <!-- Section description -->
  <p class="dark-grey-text w-responsive mx-auto mb-5">What others our saying about our Calendar App!!</p>

  <!--Grid row-->
  <div class="row text-center">

    <!--Grid column-->
    <div class="col-md-4 mb-md-0 mb-5">

      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" class="rounded-circle z-depth-1 img-fluid">
        </div>
        <!--Content-->
        <h4 class="font-weight-bold dark-grey-text mt-4">Anna Deynah</h4>
        <h6 class="font-weight-bold blue-text my-3">Web Designer</h6>
        <p class="font-weight-normal dark-grey-text">
          <i class="fas fa-quote-left pr-2"></i>"This Calendar App is fanactic! Thanks so much guys!".</p>
        <!--Review-->
        <div class="orange-text">
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star-half-alt"> </i>
        </div>
      </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-md-0 mb-5">

      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" class="rounded-circle z-depth-1 img-fluid">
        </div>
        <!--Content-->
        <h4 class="font-weight-bold dark-grey-text mt-4">John Doe</h4>
        <h6 class="font-weight-bold blue-text my-3">CS Student</h6>
        <p class="font-weight-normal dark-grey-text">
          <i class="fas fa-quote-left pr-2"></i>"Schedule Master is amazing, I've using it to schedule all my meetings. "</p>
        <!--Review-->
        <div class="orange-text">
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
        </div>
      </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">

      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-circle z-depth-1 img-fluid">
        </div>
        <!--Content-->
        <h4 class="font-weight-bold dark-grey-text mt-4">Maria Kate</h4>
        <h6 class="font-weight-bold blue-text my-3">Engineer</h6>
        <p class="font-weight-normal dark-grey-text">
          <i class="fas fa-quote-left pr-2"></i>"Thanks so much for making such an awesome resource available free to us! "</p>
        <!--Review-->
        <div class="orange-text">
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="fas fa-star"> </i>
          <i class="far fa-star"> </i>
        </div>
      </div>

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!-- Section: Testimonials v.3 -->


{% endblock %}