{% extends "base.html" %}
 

{% block content %}

<div class="center">
    {% if not current_user.is_authenticated %}
        <h1>Welcome Guest!</h1>
    {% else %}
        <h1> Welcome {{ current_user.username }}!</h1>
        <h2> Upcoming events: </h2>
        {% if events|length == 0 %}
            <p>There are no events at this time.</p>
        {% else %}
            {% for i in events %}
                <hr>
                <div class="eventCard">
  
                    <div class="eventTitle"> 
                        Meeting with {{ i.guestname }}
                    </div>
                    <div class="eventTimes">
                        Date: {{ i.eventDate }} | 
                        Time: {{ i.eventTime }} 
                    </div>
                    <div class="eventDesc">
                        Event Description: {{ i.description }}
                    </div>
    
                </div>
            

            {% endfor %}
        {% endif %}
        
    
    {% endif %}
</div>

{% endblock %}