{% extends "base.html" %}
 

{% block content %}

<div class="center">
    {% if not current_user.is_authenticated %}
        <h1>Welcome Guest!</h1>
    {% else %}
        <h1> Welcome {{ current_user.username }}!</h1>
        <h2> Events/Appointments: </h2>
        {% if events|length == 0 %}
            <p>There are no events at this time.</p>
        {% else %}
            {% for i in events %}
                <hr>
                <p>
                    {{ i.eventDate }}: {{ i.eventTime }}: Meeting with {{ i.guestName }}
                </p>
                <p>
                    Event Description: {{ i.description }}
                </p>
            {% endfor %}
        {% endif %}
        
    
    {% endif %}
</div>

{% endblock %}