{% extends "base.html" %}

{% block head %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/calendar.css') }}">
    <script type = "text/javascript" src="{{url_for('static', filename='calendar.js')}}"></script>
    <script src="{{url_for('static', filename='calendar.js')}}"></script>


{% endblock %}


{% block content %}
<div class="center">
    <h1> Schedule Meeting with {{ aUser.username }}</h1>
</div>
  <!-- inspired by http://colorhunt.co/c/8184 and 
    https://dribbble.com/shots/2407357-Calendar%60 -->
    

    <div class="container">
        <div class="calendar">
          <div class="front">
            <div class="current-date">
              <!-- %A to get the name and %d to get the day -->
              <h1>{{datetime.date.today().strftime("%A")}} 
                  {{datetime.date.today().strftime("%d")}}</h1>
              <h1>{{months[datetime.datetime.today().month - 1]}} {{datetime.datetime.today().year}}</h1>	
            </div>
  
            <div class="current-month">
              <ul class="week-days">
                {%for i in ordered%}
                  <li>{{i}}</li>
                {% endfor%}
              </ul>

              <div class="weeks">
                <div class="first">
                  {% for i in range(1,8)%}
                    <span>
                      <a href = "/booktime/{{aUser.username}}/{{i}}-{{datetime.datetime.today().month}}-{{datetime.datetime.today().year}}">{{i}}</a>
                    </span>
                  {% endfor %}
                </div>
  
                <div class="second">
                  {% for i in range(8,15)%}
                    <span>
                      <a href = "/booktime/{{aUser.username}}/{{i}}-{{datetime.datetime.today().month}}-{{datetime.datetime.today().year}}">{{i}}</a>
                    </span>
                  {% endfor %}
                </div>
  
                <div class="third">
                  {% for i in range(15,22)%}
                    <span>
                      <a href = "/booktime/{{aUser.username}}/{{i}}-{{datetime.datetime.today().month}}-{{datetime.datetime.today().year}}">{{i}}</a>
                    </span>
                  {% endfor %}
                </div>
  
                <div class="fourth">
                  {% for i in range(22,29)%}
                    <span>
                      <a href = "/booktime/{{aUser.username}}/{{i}}-{{datetime.datetime.today().month}}-{{datetime.datetime.today().year}}">{{i}}</a>
                    </span>
                  {% endfor %}
                </div>
  
                <div class="fifth">
                  {% if datetime.date.month != 2 %}
                    {% for i in range(29,36)%}
                      {% if (31 > i) or ((calendar.monthrange(datetime.datetime.today().year,datetime.datetime.today().month)[1] > 30) and (32 > i)) %}
                        <span>
                          <a href = "/booktime/{{aUser.username}}/{{i}}-{{datetime.datetime.today().month}}-{{datetime.datetime.today().year}}">{{i}}</a>
                        </span>
                      {% else %}
                        <span class="last-month">
                          <a>{{ i - calendar.monthrange(datetime.datetime.today().year,datetime.datetime.today().month)[1] }}</a>
                        </span>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
  
          <div class="back">
            <input placeholder="What's the event?">
            <div class="info">
              <div class="date">
                <p class="info-date">
                Date: <span>Jan 15th, 2016</span>
                </p>
                <p class="info-time">
                  Time: <span>6:35 PM</span>
                </p>
              </div>
              <div class="address">
                <p>
                  Address: <span>129 W 81st St, New York, NY</span>
                </p>
              </div>
              <div class="observations">
                <p>
                  Observations: <span>Be there 15 minutes earlier</span>
                </p>
              </div>
            </div>
  
            <div class="actions">
              <button class="save">
                Save <i class="ion-checkmark"></i>
              </button>
              <button class="dismiss">
                Dismiss <i class="ion-android-close"></i>
              </button>
            </div>
          </div>
  
        </div>
      </div>
{% endblock %}