{% extends "base.html" %}

{% block head %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/calendar.css') }}">
    <script type = "text/javascript" src="{{url_for('static', filename='calendar.js')}}"></script>
    <script src="{{url_for('static', filename='calendar.js')}}"></script>


{% endblock %}


{% block content %}



<div class="center">
    <h1> Schedule Meeting with {{ aUser.username }}</h1>
</div>



<div class = "something-else">
  This month is {{calendar.month_name[4]}} <br>
  The date is {{datetime.date.today()}}
</div>



  <!-- inspired by http://colorhunt.co/c/8184 and 
    https://dribbble.com/shots/2407357-Calendar%60 -->
    

    <div class="container">
        <div class="calendar">
          <div class="front">
            <div class="current-date">
              <!-- %A to get the name and %d to get the day -->
              <h1>{{datetime.date.today().strftime("%A")}} 
                  {{datetime.date.today().strftime("%d")}}</h1>
              <h1>April 2020</h1>	
            </div>
  
            <div class="current-month">
              <ul class="week-days">
                <li>SUN</li>
                <li>MON</li>
                <li>TUE</li>
                <li>WED</li>
                <li>THU</li>
                <li>FRI</li>
                <li>SAT</li>
              </ul>
  
              <div class="weeks">
                <div class="first">
                  <span class="last-month">
                  <a href = "/booktime/{{aUser.username}}/26-April-2020">26</a></span>
                  <span class="last-month">
                  <a href = "/booktime/{{aUser.username}}/27-April-2020">27</a></span>
                  <span class="last-month">
                  <a href = "/booktime/{{aUser.username}}/28-April-2020">28</a></span>
                  <span class="last-month">
                  <a href = "/booktime/{{aUser.username}}/29-April-2020">29</a></span>
                  <span class="last-month">
                  <a href = "/booktime/{{aUser.username}}/30-April-2020">30</a></span>

<!--              <span class="last-month">27</span>
                  <span class="last-month">28</span>
                  <span class="last-month">29</span>
                  <span class="last-month">30</span> -->
                  <span>1</span>
                  <span>2</span>
                </div>
  
                <div class="second">
                  <span>3</span>
                  <span>4</span>
                  <span class="event">05</span>
                  <span>6</span>
                  <span>7</span>
                  <span>8</span>
                  <span>9</span>
                </div>
  
                <div class="third">
                  <span>10</span>
                  <span>11</span>
                  <span>12</span>
                  <span>13</span>
                  <span class="active">14</span>
                  <span>15</span>
                  <span>16</span>
                </div>
  
                <div class="fourth">
                  <span>17</span>
                  <span>18</span>
                  <span>19</span>
                  <span>20</span>
                  <span>21</span>
                  <span>22</span>
                  <span>23</span>
                </div>
  
                <div class="fifth">
                  <span>24</span>
                  <span>25</span>
                  <span>26</span>
                  <span>27</span>
                  <span>28</span>
                  <span>29</span>
                  <span>30</span>
                </div>

                <div class="sixth">
                <span>31</span>
                  </div>
              </div>
            </div>
          </div>
  
          <div class="back">
            <input placeholder="What's the event?">
            <div class="info">
              <div class="date">
                <p class="info-date">
                Date: <span>Jan 15th, 2016</span>
                </p>
                <p class="info-time">
                  Time: <span>6:35 PM</span>
                </p>
              </div>
              <div class="address">
                <p>
                  Address: <span>129 W 81st St, New York, NY</span>
                </p>
              </div>
              <div class="observations">
                <p>
                  Observations: <span>Be there 15 minutes earlier</span>
                </p>
              </div>
            </div>
  
            <div class="actions">
              <button class="save">
                Save <i class="ion-checkmark"></i>
              </button>
              <button class="dismiss">
                Dismiss <i class="ion-android-close"></i>
              </button>
            </div>
          </div>
  
        </div>
      </div>
{% endblock %}