{% extends "base.html" %}

{% block head %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/calendar.css') }}">
    <script type = "text/javascript" src="{{url_for('static', filename='calendar.js')}}"></script>
    <script src="{{url_for('static', filename='calendar.js')}}"></script>


{% endblock %}


{% block content %}



<div class="center">
    <h1> Schedule Meeting with {{ aUser.username }}</h1>
</div>



<div class = "something-else">
  This month is {{calendar.month_name[4]}} <br>
  The date is {{datetime.date.today()}}
</div>



  <!-- inspired by http://colorhunt.co/c/8184 and 
    https://dribbble.com/shots/2407357-Calendar%60 -->
    

    <div class="container">
        <div class="calendar">
          <div class="front">
            <div class="current-date">
              <!-- %A to get the name and %d to get the day -->
              <h1>{{datetime.date.today().strftime("%A")}} 
                  {{datetime.date.today().strftime("%d")}}</h1>
              <h1>May 2020</h1>	
            </div>
  
            <div class="current-month">
              <ul class="week-days">
                <li>SUN</li>
                <li>MON</li>
                <li>TUE</li>
                <li>WED</li>
                <li>THU</li>
                <li>FRI</li>
                <li>SAT</li>
              </ul>
  
              <div class="weeks">
                <div class="first">
                  <span class="last-month">
                  <a href = "/booktime/{{aUser.username}}/26-April-2020">26</a></span>
                  <span class="last-month">
                  <a href = "/booktime/{{aUser.username}}/27-April-2020">27</a></span>
                  <span class="last-month">
                  <a href = "/booktime/{{aUser.username}}/28-April-2020">28</a></span>
                  <span class="last-month">
                  <a href = "/booktime/{{aUser.username}}/29-April-2020">29</a></span>
                  <span class="last-month">
                  <a href = "/booktime/{{aUser.username}}/30-April-2020">30</a></span>

                  <span><a href = "/booktime/{{aUser.username}}/1-May-2020">1</a></span>
                  <span><a href = "/booktime/{{aUser.username}}/2-May-2020">2</a></span>
                </div>
  
                <div class="second">
                  <span><a href = "/booktime/{{aUser.username}}/3-May-2020">3</a></span>
                  <span><a href = "/booktime/{{aUser.username}}/4-May-2020">4</a></span>
                  <span class="event">
                    <a href = "/booktime/{{aUser.username}}/5-May-2020">5</a></span>
                  <span><a href = "/booktime/{{aUser.username}}/6-May-2020">6</a></span>
                  <span><a href = "/booktime/{{aUser.username}}/7-May-2020">7</a></span>
                  <span><a href = "/booktime/{{aUser.username}}/8-May-2020">8</a></span>
                  <span><a href = "/booktime/{{aUser.username}}/9-May-2020">9</a></span>
                </div>
  
                <div class="third">
                  <span><a href = "/booktime/{{aUser.username}}/10-May-2020">10</a></span>
                  <span><a href = "/booktime/{{aUser.username}}/11-May-2020">11</a></span>
                  <span><a href = "/booktime/{{aUser.username}}/12-May-2020">12</a></span>
                  <span><a href = "/booktime/{{aUser.username}}/13-May-2020">13</a></span>
                  <span class="active">
                    <a href = "/booktime/{{aUser.username}}/14-May-2020">14</a></span>
                  <span><a href = "/booktime/{{aUser.username}}/15-May-2020">15</a></span>
                  <span><a href = "/booktime/{{aUser.username}}/16-May-2020">16</a></span>
                </div>
  
                <div class="fourth">
                  <span><a href = "/booktime/{{aUser.username}}/17-May-2020">17</a></span>
                  <span><a href = "/booktime/{{aUser.username}}/18-May-2020">18</a></span>
                  <span><a href = "/booktime/{{aUser.username}}/19-May-2020">19</a></span>
                  <span><a href = "/booktime/{{aUser.username}}/20-May-2020">20</a></span>
                  <span><a href = "/booktime/{{aUser.username}}/21-May-2020">21</a></span>
                  <span><a href = "/booktime/{{aUser.username}}/22-May-2020">22</a></span>
                  <span><a href = "/booktime/{{aUser.username}}/23-May-2020">23</a></span>
                </div>
  
                <div class="fifth">
                  <span><a href = "/booktime/{{aUser.username}}/24-May-2020">24</a></span>
                  <span><a href = "/booktime/{{aUser.username}}/25-May-2020">25</a></span>
                  <span><a href = "/booktime/{{aUser.username}}/26-May-2020">26</a></span>
                  <span><a href = "/booktime/{{aUser.username}}/27-May-2020">27</a></span>
                  <span><a href = "/booktime/{{aUser.username}}/28-May-2020">28</a></span>
                  <span><a href = "/booktime/{{aUser.username}}/29-May-2020">29</a></span>
                  <span><a href = "/booktime/{{aUser.username}}/30-May-2020">30</a></span>
                </div>

                <div class="sixth">
                <span><a href = "/booktime/{{aUser.username}}/31-May-2020">31</a></span>
                  </div>
              </div>
            </div>
          </div>
  
          <div class="back">
            <input placeholder="What's the event?">
            <div class="info">
              <div class="date">
                <p class="info-date">
                Date: <span>Jan 15th, 2016</span>
                </p>
                <p class="info-time">
                  Time: <span>6:35 PM</span>
                </p>
              </div>
              <div class="address">
                <p>
                  Address: <span>129 W 81st St, New York, NY</span>
                </p>
              </div>
              <div class="observations">
                <p>
                  Observations: <span>Be there 15 minutes earlier</span>
                </p>
              </div>
            </div>
  
            <div class="actions">
              <button class="save">
                Save <i class="ion-checkmark"></i>
              </button>
              <button class="dismiss">
                Dismiss <i class="ion-android-close"></i>
              </button>
            </div>
          </div>
  
        </div>
      </div>
{% endblock %}