/* >>ELEMENT SELECTORS<< */
body{
    background-color: #E1E7E0;
    margin-left: 5%;
    margin-right: 5%;
}

nav{
    border: 3px solid white;
}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color:#2F6D80;
}

h2{
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color:#2F6D80;
}

p{
    color: #6AA4B0;
}

a{
    color: #6AA4B0;
}

a:hover{
    color: #6AA4B0;
    text-decoration: none;
}

hr{
    border: 1px solid white;
}

li{
    color: rgb(128, 47, 47);
}
/* >>CLASS SELECTORS<< */

.center{
    text-align: center;
}


.navbar-text{
    color: #6AA4B0; 
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #6AA4B0;
}

.Forms{
    border: white solid 3px;
    margin-top: 3%;
    margin-left: 38%;
    margin-right: 38%;
    background-color: #e9ecef;
}

.FormsError{
    border: rgb(128, 47, 47) solid 3px;
    margin-top: 3%;
    margin-left: 38%;
    margin-right: 38%;
    background-color: #e9ecef;
}

.ErrorMessage, .deleteMessage{
    color: rgb(128, 47, 47);
}



.userName{
    background:#e9ecef;
    margin: 3% auto;
    font-size: 35px;
    width: 10%;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10%;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-left: 3px solid white;
}

.userName:hover{
    background-color:#f7fafd;
    transform: translateY(-4px);
}

/* >>ID SELECTORS<< */

#registerLink{
    color:#2F6D80;
}
