/* >>ELEMENT SELECTORS<< */
body{
    background-color: #E1E7E0;
    margin-left: 5%;
    margin-right: 5%;
}

nav{
    border: 3px solid white;
}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color:#2F6D80;
}

p{
    color: #6AA4B0;
}

a{
    color: #6AA4B0;
}

hr{
    border: 1px solid white;
}

/* >>CLASS SELECTORS<< */

.center{
    text-align: center;
}


.navbar-text{
    color: #6AA4B0; 
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #6AA4B0;
}


/* >>ID SELECTORS<< */

#registerLink{
    color:#2F6D80;
}
