{% extends "base.html" %}

{% block content %}
<div class="center">
    <h1> Settings </h1>
    <form action = "" method = "post">
        {{ form.hidden_tag() }}
        <p><a href = '/addavailability'>Add Availability</a></p> 
        <hr>
        <p>
            {{ form.meetingLength.label }}
            {{ form.meetingLength }}
        </p>
        <p>
            {{form.emailConfirmation.label}}
            {{form.emailConfirmation}}
        </p>
        <p>
            {{ form.submit() }}
        </p>
        <hr>
        <p><a href = '/resetpassword'>Reset Password</a></p>
        <p><a href = '/delete'>Delete Account</a></p>
</div>

{% endblock %}
